<table>
<tr>
<% @images.each do |image| %>
<td>
		<div class="imagebox">
			<%= link_to image_tag(image.picture.url(:medium), :class => "image"),  image %>
			<div class="imagetext">
				<%= image.title %>
				<br>
				<%= image.description %>
				<br>
				<% if current_user.admin? %>	
					<%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %><br/>
				<% end %>
				<% if current_user.voted_for? image %>
					<strong>Like : <%= image.likes.size %>,  Dislike : <%= image.dislikes.size %>,   Total : <%= image.votes.size %></strong>
				<% else %>
				<div class="btn-group" data-toggle="buttons-radio">
					<%= button_to "Like", {:action => "like_dislike", :id => image.id, :type => "like" }, :remote => true, :form => { "data-type" => "json" }, :class => "btn" %>
					<%= button_to "Dislike", {:action => "like_dislike", :id => image.id, :type => "dislike"}, :remote => true, :form => { "data-type" => "json" }, :class => "btn" %>
			    </div>
			    <% end %>
			</div>
	</div>
</td>
<% end %>
</tr>
</table>


