<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<div class="show">
	<a href="<%= @image.picture.url %>" title=<%= @image.title %> >
		<%= image_tag @image.picture.url(:medium), :class => "image" %> 
	</a>
</div>
<div class="imagebox_show">
<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Title:</b>
  <%= @image.picture_file_name %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
	<b>Photographer</b>
	<%= @image.photographer %>
</p>
	
<div class="exif" id="exif_<%=@image.id%>" >Exif
	<div class="exifdata ">
		Cameramodel:
		<%= EXIFR::JPEG.new(@image.picture.path).model %>
		<br>
		Date:
		<%= EXIFR::JPEG.new(@image.picture.path).date_time  %>
		<br>
		Exposure:
		<%= EXIFR::JPEG.new(@image.picture.path).exposure_time.to_s  %>
		<br>
		Width:
		<%= EXIFR::JPEG.new(@image.picture.path).width %>
		<br>
		Height:
		<%= EXIFR::JPEG.new(@image.picture.path).height  %>
		<br>					
		Shutter:
		<%= EXIFR::JPEG.new(@image.picture.path).shutter_speed_value.to_s%>
		<br>					
		Aperture:
		<%= EXIFR::JPEG.new(@image.picture.path).aperture_value.to_s%>
	</div>
</div>
<% if current_user.admin? %>
	<%= link_to 'Delete', image_path(@image), :confirm => "are you sure?", :method => :delete %> |
	<%= link_to 'Edit', edit_image_path(@image) %> |
	<%= link_to 'Back', images_path %>
<% end %>
</div>
