<style type="text/css">
form {
	float: left;
    width: 60px;
}
</style>
<div class="show">
	<a href="<%= @image.picture.url %>" title=<%= @image.title %> >
		<%= image_tag @image.picture.url(:medium), :class => "image" %> 
	</a>
</div>
<div class="imagebox_show">
<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Filename:</b>
  <%= @image.picture_file_name %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
	<b>Photographer</b>
	<%= @image.photographer %>
</p>
<div id="like_dislike">
	<%= render :partial => "like_dislike", :locals => {:image => @image} %>
</div>
<div style="clear:both"></div>
<div class="exif" id="exif_<%=@image.id%>" ><strong>Exif</strong>
	<div class="exifdata ">
		Cameramodel:
		<%= EXIFR::JPEG.new(@image.picture.path).model rescue "N/A" %>
		<br>
		Date:
		<%= EXIFR::JPEG.new(@image.picture.path).date_time rescue "N/A"  %>
		<br>
		Exposure:
		<%= EXIFR::JPEG.new(@image.picture.path).exposure_time.to_s rescue "N/A"  %>
		<br>
		Width:
		<%= EXIFR::JPEG.new(@image.picture.path).width rescue "N/A" %>
		<br>
		Height:
		<%= EXIFR::JPEG.new(@image.picture.path).height rescue "N/A"  %>
		<br>					
		Shutter:
		<%= EXIFR::JPEG.new(@image.picture.path).shutter_speed_value.to_s rescue "N/A"%>
		<br>					
		Aperture:
		<%= EXIFR::JPEG.new(@image.picture.path).aperture_value.to_s rescue "N/A"%>
	</div>
</div>
<% if current_user.admin? %>
	<%= link_to 'Delete', image_path(@image), :confirm => "are you sure?", :method => :delete %> |
	<%= link_to 'Edit', edit_image_path(@image) %> |
	<%= link_to 'Back', images_path %>
<% end %>
</div>
